<head>
  <meta charset="UTF-8">
  {% seo %}
  <link rel="icon" href="{{ site.url  }}{{ site.baseurl  }}/images/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}" type="text/css">
  <title>{% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{ site.title | strip_html }}</title>
</head>
